body {
  color: orange; }

body {
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.14em;
  padding: 2px; }
