.btn {
	margin: 20px 0 0 0;
	padding: 14px 24px 14px 24px;
	margin-top: 5px;
	margin-bottom: 5px;   
	display: inline-block;
	color:white;
	border-radius:$border-radius;
    border:none;
	background-color: $font-dark;
	overflow: visible;
	position: relative;
}


.btn-send{   //go to ghub
	@extend .btn;
	margin-right: 5px;
	
	// @include gradient(#555555, #222222);
}

//no
.btn-cancel, .btn-cancel-nav{
	@extend .btn;
	margin-left: 5px;
}

