
$font-light: #FFFFFF;
$font-dark: black;
$base-size: 50px;
$font-small: 11px;
$main-font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$shadow-color: rgba(0,0,0,0.5);
$border-radius: 9px;
$accent-color: rgb(74, 174, 222);
$alt-accent-color: rgb(79, 122, 160);

body {
	font-family: $main-font;
	font-style: normal;
	font-weight: 500;
	font-size: $font-small;
	letter-spacing: 0.10em;
	color: $font-dark;
	// background-color: $font-light;
	background-color: $alt-accent-color;
}
	// text-transform: uppercase;

 @for $i from 1 through 6{
	h#{$i}{
		font-size: $base-size - ($i*9);
		// color: lighten($font-dark,$i*10%); //color gradient
		margin: 0px auto;
		text-align: center;
		padding-bottom: 50px;
		color: $font-light;
	}
}

a {
	color:white;
	text-decoration: none;
}