.wrapper-fixed-width {
	overflow: auto;
	margin: 0 auto;
	max-width: 940px;
	border: 10px solid blue;
	@include clearfix;      //use this!!!!! from bourbon! centers the grid wrap and holds its height
 //will show up collapsed on full screen

.col{
	width: 100%;
	height: 200px; 
	background-color: #ccc;
	border: 1px solid black;
	margin-bottom: 9px;
	padding: 18px;

//bigger screens get the alternative
	@include breakpoint(med-width) {
		width: 31.8%;
		float: left;
		margin-left: 9px;
		}
	}

	
}