
.fadeInDown{
  -webkit-animation-name: fadeInDown;
  -webkit-animation-duration: 3s;
}

@-webkit-keyframes fadeInDown{
  0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
        }
  100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
        }
    }

 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 650px) { @content ; }
  }
  //  @else if $point == laptop {
  //    @media (min-width: 64em) { @content ; }
  // }
  //   @else if $point == tablet {
  //    @media (min-width: 50em) { @content ; }
  // }
  //  @else if $point == phablet {
  //    @media (min-width: 37.5em)  { @content ; }
  // }
  // @else if $point == mobileonly {
  //    @media (max-width: 37.5em)  { @content ; }

  // }
}


@mixin triangle($down-triangle-color){
      content: '';
        display: block;
        width: 0;
        height: 0;
        margin-left:-50px;
        margin-top:-33px;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 33px solid $down-triangle-color;
}



@mixin rotate($deg) {
    -ms-transform: rotate($deg); /* IE 9 */
    -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
    transform: rotate($deg);
  }


// @mixin box-shadow(){
//   box-shadow: 2px 2px 1px 0px $shadow-color;
// }