
.fadeInDown{
  -webkit-animation-name: fadeInDown;
  -webkit-animation-duration: 3s;
}

@-webkit-keyframes fadeInDown{
  0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        }
  100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        }
    }

 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 650px) { @content ; }
  }
  //  @else if $point == laptop {
  //    @media (min-width: 64em) { @content ; }
  // }
  //   @else if $point == tablet {
  //    @media (min-width: 50em) { @content ; }
  // }
  //  @else if $point == phablet {
  //    @media (min-width: 37.5em)  { @content ; }
  // }
  // @else if $point == mobileonly {
  //    @media (max-width: 37.5em)  { @content ; }

  // }
}

@mixin modal-wrapper {
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(155,155,155,.6);
  width:100%;
  height:100%;
  padding: 0;
  margin: 0;
  display: none;
}

@mixin modal ($width, $height: $width) {   //height defaults to width if not specified
    position:relative;
    top:20%;
    margin:0 auto;
    width: $width;
    height: $height;
    border: 1px solid black;
    padding:20px;
    text-align:center;
    background-color:rgba(1,1,1,.6);
    color:white;
    border-radius: $border-radius;
}

@mixin center ($top) {
    position: absolute;
    text-align: center;
    top: $top;
    left: 0;
    right: 0;

}










@mixin triangle($down-triangle-color){
      content: '';
        display: block;
        width: 0;
        height: 0;
        margin-left:-50px;
        margin-top:-33px;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 33px solid $down-triangle-color;
}



@mixin rotate($deg) {
    -ms-transform: rotate($deg); /* IE 9 */
    -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
    transform: rotate($deg);
  }


// @mixin box-shadow(){
//   box-shadow: 2px 2px 1px 0px $shadow-color;
// }