
//NAVIGATE TO GITHUB?

.wrapper-navigate{
	@include modal-wrapper;
	z-index: 1;
	.modal-navigate{
		@include modal(200px, 200px);
	}
}








//MESSAGE ME

.modal-wrapper {
	@include modal-wrapper;

	.modal {
		@include modal(300px, 400px);
		// transform: scaleX(500px) 3s;
		h3 {
			padding-bottom: 10px;
		}

		.vertical-form {
			text-align: center;
			padding: 10px;
			border-style: none;

				.form-group {

					label {
						margin-bottom: 10px;
						display:block;
					}
					

					#message {
						height: 80px;
					}

					#name, #email, #message {
					display: block;
					border-style: none;
					width: 230px;
					padding: 5px;
					margin-bottom: 15px;
					color: $font-dark;

				}

			}
		}

	}
}




.modal-on {	
	overflow:hidden;
}
