

.nav-wrapper {
  background-color: rgba(255,255,255, 0.8);
  width: 100%;
  overflow: auto;
  position: fixed;
  z-index: 10;

}

nav {
	padding: 10px;
	display: none;
	float:right;
  	clear: both;
		

		@include breakpoint(desktop) {
			display: inline;
			width: 100%;
		}

	ul {
  		margin: 0 auto;
  		padding: 0px;
		
		@include breakpoint(desktop) {
			width: 100%;
			  text-align: center;
			}		

			li {
				display: block;
				width: 16.66666666666667%;
				

				@include breakpoint(desktop) {
					display: inline;
					  margin: 0 5%;

					}

					a {
						text-decoration: none;
						color: $font-dark;
					}
				}
			}	
		}


.fa-arrow-circle-o-left{
	transition: .5s ease-in-out;
	margin: 12px;
}

.rotate{
	transform: rotate(-90deg);
}


.mobile-on {
	display: inline;
	float: right;

	@include breakpoint(desktop) {
		display: none;
		}
	}



.fa-github-square {

	position: fixed;
	top: 0;
	left: 0;
	padding: 12px;
	z-index: 100;

	@include breakpoint(desktop) {
		padding: .5%;
	}
}





