#home{
	color: $font-light;
	text-align: center;
	height: 100vh;

	h1{ 
		padding-top: 200px;
	}

	.fa-chevron-down{
		@include center (85%);
	}
}

#work{

	height: initial;
	background-color: $font-light; 


		@include breakpoint(med-width) {  //combine these two?
			height: initial;
			}
		@include breakpoint(desktop) {  
			height: 100vh;
			}


	h2{
		padding: 100px 0px;
		color: $font-dark;
	}
}

#col-wrapper {
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: space-around;

			
		.col{
			position: relative;
			text-align: center;
			width: 300px;  /* Or whatever */
			margin: auto;  /* Magic! */
			border: 10px solid white;
			background-color: $font-light;

			
			// @include breakpoint(desktop) {
			// 	width: 33.33%;
			// }
			
		
			img.under{
				width: 100%;
				height: 270px;
				border: 0;
				// height: 350px;
				filter: grayscale(1);
				-webkit-filter: grayscale(1);
  				// @include  breakpoint(desktop) {
  				// 	max-width: 350px;
  				// 	}
  				}

				.draw {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 0;
					margin: 0;
					padding: 0;
					// background-color: red;
					opacity: 0;
					transition: all 1.5s;		

						a{
							color: $font-dark;
							font-size: $base-size * .75;
						}	
					}

			&:hover {
				.draw {
					opacity: 1;
					height: 100%;
					background-color: rgba(255, 255, 255, 0.8);
					color:black;

				}
				
			}
		}
	}


#contact{
	clear: both;
	height: 100vh;
	text-align: center;
		
		h2{
			 padding: 100px 3px;
		}

		.js-modal-activate{   //button to activate the modal
			padding: 20px;
			background-color: $font-dark;
			color: $font-light;
			border-radius: $border-radius;
			border-style: none;
			font-size: $font-small *2;
		}
		#count{
			height: auto;
		}
	}







