#home{
	// background-color: $bg-turq;
	text-align: center;
	height: 100vh;

	h1{ 
		padding-top: 200px;
		color: $font-dark;
		
	}
}

// #home2{
// 	@extend #home; //do i even need this??
// 	background-color: $bg-accent;
// 	color: $font-dark;

// 	h2{
// 		padding-top: 200px;
// 	}
// }

#work{
	height: 100vh;

	h2{
		padding: 100px 0px;
	}

}
	#col-wrapper {
		width: 100%;
		height: auto;

		// &.wrapper-fixed-height {
			
		// 	.col {
		// 		height: 300px;

		// 	}
		// }

			
		.col{

			text-align: center;
			position: relative;
			float: left;
			width: 100%;
			border: 10px solid white;

			
			@include breakpoint(desktop) {
				width: 33.33%;
			}
		
			img.under{
				width: 100%;
				border: 0;
				height: 350px;
  				@include  breakpoint(desktop) {
  					max-width: 350px;
  					}
  				}
  				
  			
			

			.draw {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 0;
				margin: 0;
				padding: 0;
				// background-color: red;
				opacity: 0;
				transition: all 1.5s;
				

				
					a{
						color: $font-dark;
						font-size: $base-size * .75;

					}


			}

			&:hover {
				.draw {
					opacity: 1;
					height: 100%;
					background-color: rgba(255, 255, 255, 0.8);
					color:black;

				}
			}
		}
	}


#contact{
	clear: both;
	// display: inline;
	height: 100vh;
	text-align: center;
		
		h2{
			 padding: 100px 3px;
		}
	// background-color: $bg-turq;
		.js-modal-activate{
			padding: 20px;
			background-color: $font-dark;
			color: $font-light;
			border-radius: $border-radius;
			border-style: none;
			font-size: $font-small *2;
		}
		#count{
			height: auto;
		}
}







